.main-content {
  // flex: 0 0 100%;
  background-color: blueviolet;
  // flex: 1;
  // height: 1200px;
  overflow-y: scroll;
  margin: 15px 15px 0 0;

  #style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

/*
 *  STYLE 4
 */

&::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

&::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

&::-webkit-scrollbar-thumb
{
	background-color: #000000;
  border: 2px solid #555555;
  background-clip: padding-box;
}
}